&i2c0 {

    bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x77>;
        label = "BME280";
    };

    ens160@53 {
        compatible = "sciosense,ens160";
        reg = <0x53>;  /* or 0x52 depending on ADDR pin */
        label = "ENS160";
    };

    as7343@39 {
        compatible = "ams,as7343";
        reg = <0x39>;
        status = "okay";
        label = "AS7343";
    };
};
