azure-core
azure-iot-device==2.14.0
azure-servicebus
certifi
charset-normalizer
deprecation
idna
isodate
janus
msrest
oauthlib
packaging
paho-mqtt==1.6.1
prompt_toolkit==3.0.51
pyserial==3.5
PySocks
python-dotenv
requests
requests-oauthlib
requests-unixsocket2
six
typing_extensions
urllib3
wcwidth